n8n/calotrack_zalo_oa_auth_callback.json
{
  "name": "CaloTrack - Zalo OA Auth Callback",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "zalo-oa-auth-callback",
        "responseMode": "responseNode"
      },
      "id": "zalo_oa_auth_webhook",
      "name": "Zalo OA Auth Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "function escapeHtml(value) {\n  return String(value ?? '')\n    .replace(/&/g, '&amp;')\n    .replace(/</g, '&lt;')\n    .replace(/>/g, '&gt;')\n    .replace(/\"/g, '&quot;')\n    .replace(/'/g, '&#39;');\n}\n\nfunction maskToken(value, head = 10, tail = 6) {\n  const text = String(value || '');\n  if (!text) return '';\n  if (text.length <= head + tail + 3) return text;\n  return `${text.slice(0, head)}...${text.slice(-tail)}`;\n}\n\nfunction buildFormUrlEncoded(payload) {\n  return Object.entries(payload || {})\n    .map(([key, value]) => `${encodeURIComponent(String(key || ''))}=${encodeURIComponent(String(value ?? ''))}`)\n    .join('&');\n}\n\nfunction appendQueryParams(url, payload) {\n  const query = buildFormUrlEncoded(payload);\n  if (!query) return String(url || '');\n  return String(url || '').includes('?')\n    ? `${String(url)}&${query}`\n    : `${String(url)}?${query}`;\n}\n\nasync function exchangeToken(appId, secretKey, code) {\n  const form = buildFormUrlEncoded({\n    app_id: String(appId || ''),\n    code: String(code || ''),\n    grant_type: 'authorization_code',\n  });\n\n  const response = await fetch('https://oauth.zaloapp.com/v4/oa/access_token', {\n    method: 'POST',\n    headers: {\n      'Content-Type': 'application/x-www-form-urlencoded',\n      secret_key: String(secretKey || ''),\n    },\n    body: form,\n  });\n\n  const raw = await response.text();\n  let payload;\n  try {\n    payload = JSON.parse(raw);\n  } catch {\n    payload = { raw };\n  }\n\n  return {\n    status: response.status,\n    ok: response.ok && Boolean(payload.access_token),\n    payload,\n  };\n}\n\nasync function syncRefreshWorkflow(refreshWebhookUrl, refreshToken) {\n  const url = appendQueryParams(refreshWebhookUrl, {\n    refresh_token: String(refreshToken || ''),\n    force: '1',\n    source: 'auth_callback',\n  });\n\n  const response = await fetch(url, { method: 'GET' });\n  return {\n    status: response.status,\n    ok: response.ok,\n    body: await response.text(),\n  };\n}\n\nconst input = $input.first().json || {};\nconst query = input.query || {};\nconst code = String(query.code || '').trim();\nconst errorCode = String(query.error || query.error_code || '').trim();\nconst errorDescription = String(query.error_description || query.error_reason || '').trim();\nconst appId = String($vars.ZALO_APP_ID || '1450975846052622442').trim();\nconst secretKey = String($vars.ZALO_OA_SECRET_KEY || $vars.ZALO_APP_SECRET || '').trim();\nconst redirectUrl = String(input.webhookUrl || '').trim();\nconst refreshWebhookUrl = 'https://n214.fastn8n.id.vn/webhook/zalo-oa-refresh-token';\n\nlet ok = false;\nlet title = 'CaloTrack Zalo OA auth callback';\nlet summary = '';\nlet exchange = null;\nlet handoff = null;\nlet accessToken = '';\nlet refreshToken = '';\nlet expiresIn = 0;\nlet expiresAt = '';\n\nif (errorCode) {\n  title = 'Zalo OA permission failed';\n  summary = `Zalo returned ${errorCode}${errorDescription ? ` - ${errorDescription}` : ''}.`;\n} else if (!code) {\n  title = 'Missing authorization code';\n  summary = 'No code was found in the callback URL.';\n} else if (!secretKey) {\n  title = 'Missing Zalo secret in n8n';\n  summary = 'Set ZALO_OA_SECRET_KEY or ZALO_APP_SECRET in n8n variables before exchanging the code.';\n} else {\n  exchange = await exchangeToken(appId, secretKey, code);\n  const payload = exchange.payload || {};\n  accessToken = String(payload.access_token || payload.accessToken || '').trim();\n  refreshToken = String(payload.refresh_token || payload.refreshToken || '').trim();\n  expiresIn = Number(payload.expires_in || payload.expires || 0) || 0;\n  expiresAt = expiresIn > 0 ? new Date(Date.now() + (expiresIn * 1000)).toISOString() : '';\n  ok = Boolean(exchange.ok && accessToken);\n\n  if (!ok) {\n    title = 'Zalo OA token exchange failed';\n    summary = `Zalo returned HTTP ${exchange.status}. Check the callback URL, OA permission scope, and the current app secret.`;\n  } else {\n    title = 'Zalo OA token ready';\n    summary = 'The authorization code was exchanged successfully.';\n    if (refreshToken) {\n      handoff = await syncRefreshWorkflow(refreshWebhookUrl, refreshToken);\n      if (handoff.ok) {\n        summary += ' The new refresh token was handed off to the auto-refresh workflow.';\n      } else {\n        summary += ' Auto-refresh handoff failed, so the refresh workflow may still need manual bootstrap.';\n      }\n    }\n  }\n}\n\nconst responseJson = {\n  ok,\n  title,\n  summary,\n  app_id: appId,\n  redirect_url: redirectUrl,\n  access_token_masked: maskToken(accessToken),\n  refresh_token_masked: maskToken(refreshToken),\n  expires_in: expiresIn,\n  expires_at: expiresAt,\n  exchange_http_status: exchange?.status || null,\n  handoff_http_status: handoff?.status || null,\n};\n\nconst html = `<!DOCTYPE html>\n<html lang=\"vi\">\n<head>\n  <meta charset=\"utf-8\" />\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\" />\n  <title>${escapeHtml(title)}</title>\n  <style>\n    body { font-family: Inter, Arial, sans-serif; background: #f4fbfa; color: #17203a; padding: 40px 20px; }\n    .card { max-width: 920px; margin: 0 auto; background: #ffffff; border: 1px solid #d7ece8; border-radius: 24px; padding: 28px; box-shadow: 0 20px 60px rgba(23, 32, 58, 0.08); }\n    .badge { display: inline-block; padding: 6px 12px; border-radius: 999px; font-size: 12px; letter-spacing: 0.12em; text-transform: uppercase; background: ${ok ? '#d9f5ef' : '#fff3e8'}; color: ${ok ? '#0f766e' : '#b45309'}; }\n    h1 { margin: 16px 0 8px; font-size: 34px; }\n    p { line-height: 1.6; color: #4f5d78; }\n    pre { white-space: pre-wrap; word-break: break-word; background: #f7fafc; border: 1px solid #dde6f0; border-radius: 16px; padding: 16px; font-size: 13px; overflow: auto; }\n    .grid { display: grid; gap: 14px; grid-template-columns: repeat(auto-fit, minmax(260px, 1fr)); margin-top: 22px; }\n    .panel { background: #fbfdff; border: 1px solid #e8eef5; border-radius: 18px; padding: 16px; }\n    .panel h2 { margin: 0 0 12px; font-size: 14px; letter-spacing: 0.08em; text-transform: uppercase; color: #0f766e; }\n    .mono { font-family: Consolas, monospace; }\n  </style>\n</head>\n<body>\n  <div class=\"card\">\n    <span class=\"badge\">${ok ? 'ready' : 'needs action'}</span>\n    <h1>${escapeHtml(title)}</h1>\n    <p>${escapeHtml(summary)}</p>\n    <div class=\"grid\">\n      <div class=\"panel\">\n        <h2>Token state</h2>\n        <pre class=\"mono\">access_token=${escapeHtml(maskToken(accessToken))}\nrefresh_token=${escapeHtml(maskToken(refreshToken))}\nexpires_at=${escapeHtml(expiresAt)}</pre>\n      </div>\n      <div class=\"panel\">\n        <h2>Workflow handoff</h2>\n        <pre class=\"mono\">refresh_workflow=${escapeHtml(refreshWebhookUrl)}\nexchange_http_status=${escapeHtml(exchange?.status || '')}\nhandoff_http_status=${escapeHtml(handoff?.status || '')}</pre>\n      </div>\n    </div>\n    <div class=\"panel\" style=\"margin-top: 18px;\">\n      <h2>Response JSON</h2>\n      <pre class=\"mono\">${escapeHtml(JSON.stringify(responseJson, null, 2))}</pre>\n    </div>\n  </div>\n</body>\n</html>`;\n\nreturn [{ json: { ...responseJson, html } }];"
      },
      "id": "zalo_oa_exchange_code",
      "name": "Exchange Zalo OA Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.html }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html; charset=utf-8"
              },
              {
                "name": "Cache-Control",
                "value": "no-store"
              }
            ]
          }
        }
      },
      "id": "zalo_oa_auth_response",
      "name": "Return Auth Result",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        680,
        0
      ]
    }
  ],
  "connections": {
    "Zalo OA Auth Webhook": {
      "main": [
        [
          {
            "node": "Exchange Zalo OA Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Exchange Zalo OA Code": {
      "main": [
        [
          {
            "node": "Return Auth Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
