n8n/calotrack_zalo_oa_refresh_token.json
{
  "name": "CaloTrack - Zalo OA Refresh Token",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "zalo-oa-refresh-token",
        "responseMode": "responseNode"
      },
      "id": "zalo_oa_refresh_webhook",
      "name": "Zalo OA Refresh Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "function escapeHtml(value) {\n  return String(value ?? '')\n    .replace(/&/g, '&amp;')\n    .replace(/</g, '&lt;')\n    .replace(/>/g, '&gt;')\n    .replace(/\"/g, '&quot;')\n    .replace(/'/g, '&#39;');\n}\n\nasync function refreshToken(appId, secretKey, refreshToken) {\n  const form = new URLSearchParams({\n    app_id: String(appId || ''),\n    refresh_token: String(refreshToken || ''),\n    grant_type: 'refresh_token',\n  });\n\n  const response = await fetch('https://oauth.zaloapp.com/v4/oa/access_token', {\n    method: 'POST',\n    headers: {\n      'Content-Type': 'application/x-www-form-urlencoded',\n      secret_key: String(secretKey || ''),\n    },\n    body: form.toString(),\n  });\n\n  const raw = await response.text();\n  let payload;\n  try {\n    payload = JSON.parse(raw);\n  } catch {\n    payload = { raw };\n  }\n\n  return {\n    status: response.status,\n    ok: response.ok,\n    payload,\n  };\n}\n\nconst input = $input.first().json || {};\nconst query = input.query || {};\nconst appId = String($vars.ZALO_APP_ID || '1450975846052622442');\nconst secretKey = String($vars.ZALO_OA_SECRET_KEY || $vars.ZALO_APP_SECRET || '');\nconst refreshTokenInput = String(query.refresh_token || query.refreshToken || '');\n\nlet ok = false;\nlet title = 'Zalo OA refresh token';\nlet summary = '';\nlet tokenPayload = {};\nlet accessToken = '';\nlet refreshToken = '';\nlet expiresIn = 0;\nlet expiresAt = '';\n\nif (!refreshTokenInput) {\n  title = 'Missing refresh token';\n  summary = 'Can truyen refresh_token tren query string de lam moi access token.';\n} else if (!secretKey) {\n  title = 'Missing Zalo secret in n8n';\n  summary = 'Can set ZALO_OA_SECRET_KEY hoac ZALO_APP_SECRET trong n8n Variables truoc khi refresh token.';\n} else {\n  const result = await refreshToken(appId, secretKey, refreshTokenInput);\n  tokenPayload = result.payload || {};\n  accessToken = String(tokenPayload.access_token || tokenPayload.accessToken || '');\n  refreshToken = String(tokenPayload.refresh_token || tokenPayload.refreshToken || refreshTokenInput || '');\n  expiresIn = Number(tokenPayload.expires_in || tokenPayload.expires || 0) || 0;\n  expiresAt = expiresIn > 0 ? new Date(Date.now() + (expiresIn * 1000)).toISOString() : '';\n  ok = Boolean(result.ok && accessToken);\n\n  if (ok) {\n    title = 'Zalo OA token refreshed';\n    summary = 'Da lam moi access token thanh cong. Hay cap nhat n8n Variables ngay.';\n  } else {\n    title = 'Zalo OA refresh failed';\n    summary = `Zalo tra ve HTTP ${result.status}. Refresh token co the da het han hoac secret key chua dung.`;\n  }\n}\n\nconst responseJson = {\n  ok,\n  title,\n  summary,\n  app_id: appId,\n  access_token: accessToken,\n  refresh_token: refreshToken,\n  expires_in: expiresIn,\n  expires_at: expiresAt,\n  token_payload: tokenPayload,\n};\n\nconst html = `<!DOCTYPE html>\n<html lang=\"vi\">\n<head>\n  <meta charset=\"utf-8\" />\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\" />\n  <title>${escapeHtml(title)}</title>\n  <style>\n    body { font-family: Inter, Arial, sans-serif; background: #f4fbfa; color: #17203a; padding: 40px 20px; }\n    .card { max-width: 880px; margin: 0 auto; background: #ffffff; border: 1px solid #d7ece8; border-radius: 24px; padding: 28px; box-shadow: 0 20px 60px rgba(23, 32, 58, 0.08); }\n    .badge { display: inline-block; padding: 6px 12px; border-radius: 999px; font-size: 12px; letter-spacing: 0.12em; text-transform: uppercase; background: ${ok ? '#d9f5ef' : '#fff3e8'}; color: ${ok ? '#0f766e' : '#b45309'}; }\n    h1 { margin: 16px 0 8px; font-size: 34px; }\n    p { line-height: 1.6; color: #4f5d78; }\n    pre { white-space: pre-wrap; word-break: break-word; background: #f7fafc; border: 1px solid #dde6f0; border-radius: 16px; padding: 16px; font-size: 13px; overflow: auto; }\n    .mono { font-family: Consolas, monospace; }\n  </style>\n</head>\n<body>\n  <div class=\"card\">\n    <span class=\"badge\">${ok ? 'success' : 'needs action'}</span>\n    <h1>${escapeHtml(title)}</h1>\n    <p>${escapeHtml(summary)}</p>\n    <pre class=\"mono\">ZALO_OA_ACCESS_TOKEN=${escapeHtml(accessToken)}\nZALO_OA_REFRESH_TOKEN=${escapeHtml(refreshToken)}\nZALO_OA_TOKEN_EXPIRES_AT=${escapeHtml(expiresAt)}</pre>\n    <pre class=\"mono\">${escapeHtml(JSON.stringify(responseJson, null, 2))}</pre>\n  </div>\n</body>\n</html>`;\n\nreturn [{ json: { ...responseJson, html } }];"
      },
      "id": "zalo_oa_refresh_code",
      "name": "Refresh Zalo OA Token",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.html }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html; charset=utf-8"
              },
              {
                "name": "Cache-Control",
                "value": "no-store"
              }
            ]
          }
        }
      },
      "id": "zalo_oa_refresh_response",
      "name": "Return Refresh Result",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        680,
        0
      ]
    }
  ],
  "connections": {
    "Zalo OA Refresh Webhook": {
      "main": [
        [
          {
            "node": "Refresh Zalo OA Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Refresh Zalo OA Token": {
      "main": [
        [
          {
            "node": "Return Refresh Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
