n8n/calotrack_bank_transfer_casso.json
{
  "name": "CaloTrack - Bank Transfer Webhook (Casso)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "calotrack-bank-transfer-casso",
        "responseMode": "responseNode"
      },
      "id": "webhook_receive",
      "name": "Receive Casso Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "webhookId": "ct-bank-transfer-casso-v1",
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || {};\nconst secureToken = $vars.CASSO_SECURE_TOKEN || '';\nconst incomingToken = $json.headers?.['secure-token'] || $json.headers?.['x-secure-token'] || '';\nif (secureToken && incomingToken !== secureToken) {\n  throw new Error('Invalid Casso secure token');\n}\nconst items = Array.isArray(body.data) ? body.data : [];\nconst matches = items.map((item) => {\n  const description = String(item.description || item.descriptionText || '');\n  const match = description.match(/CT\\d+/i);\n  return {\n    orderCode: match ? match[0].toUpperCase() : null,\n    amount: Number(item.amount || 0),\n    transactionCode: String(item.tid || item.reference || item.id || ''),\n    description,\n    raw: item,\n  };\n}).filter((item) => item.orderCode);\nif (!matches.length) {\n  return [{ json: { ok: true, skipped: true, reason: 'No CT order code found' } }];\n}\nreturn matches.map((item) => ({ json: item }));"
      },
      "id": "extract_transfer",
      "name": "Extract Transfer Match",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://xurqgxldxyaxwtjhvspw.supabase.co/rest/v1/rpc/mark_order_paid_and_grant_entitlement",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_order_code\": \"{{ $json.orderCode }}\",\n  \"p_provider\": \"bank_transfer\",\n  \"p_provider_txn_id\": \"{{ $json.transactionCode }}\",\n  \"p_amount\": {{ $json.amount }},\n  \"p_raw_payload\": {{ JSON.stringify($json.raw) }},\n  \"p_provider_event_id\": \"{{ $json.transactionCode }}\",\n  \"p_force\": false\n}",
        "options": {}
      },
      "id": "mark_paid",
      "name": "Mark Order Paid",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        760,
        0
      ],
      "credentials": {
        "supabaseApi": {
          "id": "UlcJUeIpCsYhgkZO",
          "name": "Calo Track Supabase"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, result: $json }) }}"
      },
      "id": "respond_ok",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1020,
        0
      ]
    }
  ],
  "connections": {
    "Receive Casso Webhook": {
      "main": [
        [
          {
            "node": "Extract Transfer Match",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Transfer Match": {
      "main": [
        [
          {
            "node": "Mark Order Paid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Order Paid": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
